<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact Form Submission</title>
  <link rel="icon" type="image/x-icon" href="path_to_your_favicon.ico">
    <style>
        @media (max-width: 600px) {
            .container {
                max-width: 100%;
                padding: 10px;
            }
            .content {
                padding: 10px;
            }
            .details {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <div className="container" style="background-color: #f9f9f9; padding: 20px;">
        <div className="content" style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h2 className="text-center text-2xl mb-4" style="color: #333;">New Contact Form Submission</h2>
            <p className="details">Name: {name}</p>
            <p className="details">Email: {email}</p>
            <p className="details">Phone Number: {number}</p>
            <p className="details">Message: {message}</p>
        </div>
<div>
<img src="/shreejicopy.png" alt="shreeji">
 </div>
    </div>
</body>

</html>
